@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Recipe

@using (Html.BeginForm())
{
    <h4> Ingredients: @Html.TextBoxFor(model => model.Ingredients)</h4>

    <input type="submit" value="Add ingredients" class="btn btn-default">
    
}