@{
  Layout = "_Layout";
}

@model RecipeBook.Models.RecipeIngredient
@{var dropdown = ViewBag.IngredientDropDown as SelectList;}

@using (Html.BeginForm())
{
    <h4> Ingredients: @Html.DropDownListFor(model => model.IngredientId, dropdown, "--SelectIngredient")</h4>

    <input type="hidden" value=@($"{ViewBag.RecipeId}") name="RecipeId">
    //binds the value of ViewBag RecipeId value to the RecipieIngredient id in the model




    <input type="submit" value="Add ingredients" class="btn btn-default">
    
}