@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/ingredient" class="btn btn-primary">Ingredients</a>
    <a href="/Recipe" class="btn btn-primary">Recipes</a>
    <a href="/Recipe/Create" class="btn btn-primary">Create Recipe</a>
</div>
