@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Category



<h3> @Html.DisplayFor(model => model.Name)


</h3>

@if(@Model.RecipeCategories.Count == 0)
{
  <p>This item does not belong to any recipes</p>
}
else
{
  <h4>Recipes in this category:</h4>
  <ul>
  @foreach(var join in Model.RecipeCategories)
  {
    <li>@join.Recipe.Name</li>
     @using (Html.BeginForm("DeleteRecipe", "Ingredient"))
    {
      @Html.Hidden("id", @join.Recipe.RecipeId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}